In [1]:
#This is a basic token,where we have considered the marks of all 1st sem students
#With knowledge of marks of only few subjects,we are trying to predict the full SPI.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df2=pd.read_csv("sem1.csv")
temp1=pd.read_csv("Sem1numwt.csv")
temp1.drop(temp1.iloc[:, 20:], inplace = True, axis = 1) 
temp1.head()

,rollno,semno,subno,credCH101,CH101,Branch,credCH110,CH110,credEE101,EE101,credHS101,HS101,credMA101,MA101,credME110,ME110,credME111,ME111,credPH101,PH101
0,1401CE01,1.0,CH101,8.0,3.0,CE,3.0,3.0,8,3.0,6.0,3.0,8,3.0,3,3.0,7.0,3.0,6,3.0
1,1401CE02,1.0,CH101,8.0,6.0,CE,3.0,10.0,8,8.0,6.0,7.0,8,8.0,3,8.0,7.0,8.0,6,7.0
2,1401CE03,1.0,CH101,8.0,7.0,CE,3.0,9.0,8,8.0,6.0,8.0,8,9.0,3,7.0,7.0,8.0,6,8.0
3,1401CE04,1.0,CH101,8.0,6.0,CE,3.0,9.0,8,6.0,6.0,9.0,8,7.0,3,8.0,7.0,8.0,6,6.0
4,1401CE05,1.0,CH101,8.0,9.0,CE,3.0,9.0,8,8.0,6.0,7.0,8,8.0,3,8.0,7.0,8.0,6,8.0

In [3]:
#for i in range(temp1['rollno'].count()) :
#temp['CPI']=temp['credCH101'][0]*temp['CH101'][0]+temp['credCH110'][0]*temp['CH110']
List =[]
temp1['SPI1']=0.0
List = ['CH101', 'CH110','EE101','HS101','MA101','ME110','ME111','PH101'] 
tot=0
for i in range(len(List)) :
    tot=tot+temp1['cred'+List[i]][0]
temp1

,rollno,semno,subno,credCH101,CH101,Branch,credCH110,CH110,credEE101,EE101,...,HS101,credMA101,MA101,credME110,ME110,credME111,ME111,credPH101,PH101,SPI1
0,1401CE01,1.0,CH101,8.0,3.0,CE,3.0,3.0,8,3.0,...,3.0,8,3.0,3,3.0,7.0,3.0,6,3.0,0.0
1,1401CE02,1.0,CH101,8.0,6.0,CE,3.0,10.0,8,8.0,...,7.0,8,8.0,3,8.0,7.0,8.0,6,7.0,0.0
2,1401CE03,1.0,CH101,8.0,7.0,CE,3.0,9.0,8,8.0,...,8.0,8,9.0,3,7.0,7.0,8.0,6,8.0,0.0
3,1401CE04,1.0,CH101,8.0,6.0,CE,3.0,9.0,8,6.0,...,9.0,8,7.0,3,8.0,7.0,8.0,6,6.0,0.0
4,1401CE05,1.0,CH101,8.0,9.0,CE,3.0,9.0,8,8.0,...,7.0,8,8.0,3,8.0,7.0,8.0,6,8.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,1401ME47,1.0,CH101,8.0,5.0,ME,3.0,9.0,8,6.0,...,8.0,8,8.0,3,7.0,7.0,5.0,6,9.0,0.0
195,1401ME48,1.0,CH101,8.0,6.0,ME,3.0,10.0,8,4.0,...,8.0,8,9.0,3,8.0,7.0,7.0,6,5.0,0.0
196,1401ME49,1.0,CH101,8.0,6.0,ME,3.0,8.0,8,7.0,...,7.0,8,9.0,3,8.0,7.0,3.0,6,5.0,0.0
197,1401ME50,1.0,CH101,8.0,4.0,ME,3.0,10.0,8,4.0,...,7.0,8,8.0,3,6.0,7.0,5.0,6,7.0,0.0
198,1401ME51,1.0,CH101,8.0,6.0,ME,3.0,9.0,8,8.0,...,8.0,8,7.0,3,9.0,7.0,3.0,6,6.0,0.0

In [4]:
for i in range(temp1['rollno'].count()) :
    for j in range(len(List)) :
        temp1['SPI1'][i]=temp1['SPI1'][i]+temp1[List[j]][i]*temp1['cred'+List[j]][0]
temp1['SPI1'] = temp1['SPI1'].div(tot)
temp2=temp1[['rollno','Branch','SPI1']]
temp1 = temp1.loc[temp1['SPI1'] > 5]
temp1.head()
temp2.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     rollno Branch      SPI1
0  1401CE01     CE  3.000000
1  1401CE02     CE  7.551020
2  1401CE03     CE  8.000000
3  1401CE04     CE  7.122449
4  1401CE05     CE  8.102041

In [5]:
 #temp2.to_csv (r'C:\Users\Souhardya\OneDrive\Desktop\Mine\Semester1cst.csv', index = None, header=True)

In [6]:
Input=temp1[['CH101','EE101','HS101','MA101','PH101']]
Input.head(5)

   CH101  EE101  HS101  MA101  PH101
1    6.0    8.0    7.0    8.0    7.0
2    7.0    8.0    8.0    9.0    8.0
3    6.0    6.0    9.0    7.0    6.0
4    9.0    8.0    7.0    8.0    8.0
5    5.0    7.0    8.0    7.0    5.0

In [7]:
Output=temp1['SPI1']
Output.head(5)

1    7.551020
2    8.000000
3    7.122449
4    8.102041
5    6.734694
Name: SPI1, dtype: float64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train,X_test,Y_train,Y_test=train_test_split(Input,Output,test_size=0.2)
len(X_train)

151

In [10]:
from sklearn import linear_model
model=linear_model.LinearRegression()

In [11]:
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
model.score(X_train,Y_train)

0.9012750978528461

In [13]:
model.score(X_test,Y_test)

0.8884819998784533